html {
  margin-left: 15px;
  margin-right: 15px;
}
.hero {
  /* position: absolute; */
  /* left: 0; */
  /* right: 0; */
  border-radius: 0px;
  background-color: white;
}

.jumbotron {

}
.section-child {
  margin-bottom: 2.7vh;
}
.benefits, .value-prop{
  padding-left: 7vw;
  padding-right: 7vw;
  padding-top: 2.7vh;
  padding-bottom: 2.7vh;
  margin: auto;
  margin-bottom: 5vh;
  width: 80vw;
}

.hero-background-img {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* padding-top:100px; */
  /* padding-bottom:100px; */
}
.landing-hero {
  background-image: url("hero_4.jpg");
}
.meditation-hero {
  background-image: url("meditation-hero.jpg");
}
.nudge-hero {
  background-image: url("nudge-hero.jpg");
}


.link {
  /* margin-bottom: 10px; */
  color: white;
}